.container {
  background-color: red;
}

.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.user {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
  text-align: center;
}

.site_layout_background {
  background: #fff;
  margin: 24px 16px;
  margin-bottom: 0;
  padding: 24px;
}

.footer {
  text-align: center;
}
